{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <h2 class="mb-4">{{ listing.title }}</h2>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
</div>
<div class="container mb-4 mt-4 p-2">
    <div class="row">
        <div class="col p-2">
            <div class="container">
                <div class="card">
                    <img class="card-img-top" src="{{ listing.image.url }}">
                    <div class="card-body">
                      <p class="card-text">{{ listing.description }}</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col p-2">

            <div class="container mb-4">
                <div class="row">
                    <div class="col">Category:</div>
                    <div class="col-9">{{ category }}</div>
                  </div>
                <div class="row">
                    <div class="col">Date Posted:</div>
                    <div class="col-9">{{ listing.date_posted }}</div>
                  </div>
                  <div class="row">
                    <div class="col">Days Active:</div>
                    <div class="col-9">{{ days_active }}</div>
                  </div>
                  <div class="row mt-4">
                    <div class="col">Posted By:</div>
                    <div class="col-9">{{owner.username}}</div>
                  </div>
                  <div class="row">
                    <div class="col">Contact:</div>
                    <div class="col-9"><a href="mailto:{{owner.email}}">{{owner.email}}</a></div>
                  </div>
              </div>

            <hr class="mr-4">

            {% if listing.owner_id == user.id %}
            <div class="container mt-4">
                <div><a class="btn btn-success mb-2" href="#">End this auction</a></div>
                <div><a class="btn btn-danger" href="{% url 'delete_listing' listing.id %}">Remove auction</a></div>

            </div>
            {% elif request.user.is_authenticated %}


            <div class="col p-2">

                <div class="container mb-4">
                    <div class="row">
                        <div class="col">Starting Bid:</div>
                        <div class="col-9">${{ listing.starting_bid }}</div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">Top bid:</div>
                        {% if top_bid %}
                        <div class="col-9"><strong style="font-size: 125%">${{top_bid}}</strong></div>
                        {% else %}
                        <div class="col-9"><em>$No top bid yet.</em></div>
                        {% endif %}
                    </div>
                </div>


                <form class="form-inline mb-4" actions="{% url 'listing' listing.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group mx-sm-3 mb-2">
                      <input type="text" class="form-control" name="bid" placeholder="0.00">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" name="submit-bid">Place bid</button>
                  </form>
                <div class="container">
                    <form actions="{% url 'listing' listing.id %}" method="POST">
                        {% csrf_token %}
                        {% if on_watchlist %}
                            <div >
                              <em>Remove from watchlist:</em>
                              <button type="submit" class="btn btn-link" name="submit-watchlist">
                                <i class="fas fa-times-circle fa-2x"></i>
                                </button>
                            </div>
                        {% else %}
                            <div>
                                <em>Add to watchlist: </em>
                                <button type="submit" class="btn btn-link" name="submit-watchlist">
                                    <i class="fas fa-glasses fa-2x"></i>
                                </button>
                            </div>
                        {% endif %}
                    </form>

                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}