{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    <h2 class="mb-4">My Watchlist</h2>
</div>

<div class="container mb-4 mt-4 p-2">
    {% if messages %}
        {% for message in messages %}
        <div{% if message.tags %} class="alert alert-success {{ message.tags }}"{% endif %} role="alert">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
        {% for listing in watchlist%}
        <div class="card">
            <p class="card-header">Posted on: <strong>{{listing.date_posted}}</strong></p>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <img src="{{ listing.image.url }}" class="img-thumbnail" style="width: 175px">
                    </div>
                    
                    <div class="col-10">
                        <h3 class="card-title">{{listing.title}}</h3>
                        <p class="card-text">Starting Bid: ${{listing.starting_bid}}</p>
                        <a href="{% url 'listing' listing.id %}" class="btn btn-primary">See listing</a>

                    </div>
                </div>

            </div>
          </div>
        {% empty %}
        <div class="container">
            You have no items in your watchlist.
        </div>
        {% endfor %}
</div>

{% endblock %}