{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    <h2 class="mb-4">My Watchlist</h2>
</div>

<div class="container mb-4 mt-4 p-2">
    <ol>
        {% for listing in watchlist%}
            <li>
                <div>
                    <strong><a href="{% url 'listing' listing.id %}">{{listing.title}}</a></strong>
                    <div class="ml-2"><em>posted: {{listing.date_posted}}</em></div>
                </div>
            </li>
        {% empty %}
            You have no items in your watchlist.
        {% endfor %}
    </ol> 
</div>

{% endblock %}